{% extends 'user/base.html' %}
{% load item_quantity %}
{% block content %}
<style>
    .checked {
      color: orange;
    }
    p{
        margin-bottom: auto;
    }
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');






 .cross {
         padding: 10px;
    color: #d6312d;
    cursor: pointer;
    font-size: 23px;
 }

.cross i{
    
    margin-top: -5px;
    cursor: pointer;
}







.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ff0000
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202
}

.rating {
   display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;
   
    
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #ff0000;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
</style>

<center>
{% if order_list %}
{% for order in order_list %}
    {% if order.has_paid %}
    <p>Order Successfull !</p>
    {% else %}
    <p>Order failed</p>
    {% endif %}
    <p>Total Amount Rs {{order.amount}}</p>
    {% for item in order.cart.cartitem_set.all %}
    {% item_rating request.user.id item.cart_item.restaurant.id order.id as rating %}
    {% ifchanged item.cart_item.restaurant.name %}
    <div>
    <!-- <p>{{item.cart_item.item.name}} ({{item.quantity}}) </p> -->
    <p style="display: inline-block;"> From : {{item.cart_item.restaurant.name}} </p>
    {% for items in order.cart.cartitem_set.all %}
    {% if items.cart_item.restaurant.id == item.cart_item.restaurant.id %}
        <p>{{items.cart_item.item.name}} ({{items.quantity}})</p>
    {% endif %}
    {% endfor %}
    <input type="hidden" value="{{item.cart_item.restaurant.id}}" class="restaurant_id">
    <input type="hidden" value="{{order.id}}" class="order_id">
    {% if order.has_paid %}
    {% if rating == 0 %}
    <!-- <button class="feedback">Review</button>  -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Review </button>    
<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
            <div class="card-body text-center"> <img src="https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                <div class="comment-box text-center">
                <h4>Add a comment</h4>
                <div class="rating"> <input type="radio" name="rating" value="5" class="star" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" class="star" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" class="star" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" class="star" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" class="star" id="1"><label for="1">☆</label> </div>
                <div class="comment-area"> <textarea class="form-control comment" placeholder="do you like your order?" rows="4"></textarea> </div>
                    <input type="hidden" value="{{item.cart_item.restaurant.id}}" class="restaurant_id">
                    <input type="hidden" value="{{order.id}}" class="order_id">
                    <div class="text-center mt-4"> <button class="btn btn-success send px-5 post">Post <i class="fa fa-long-arrow-right ml-1"></i></button>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
    {% else %}
    <!-- <p style="display: inline-block;">you rated {% item_rating request.user.id item.cart_item.restaurant.id order.id %}</p> -->
    <span class="fa fa-star {% if rating >= 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating >= 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating >= 3 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating >= 4 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating == 5 %} checked {% endif %}"></span>
    {% endif %}
    {% endif %}
    {% endifchanged %}
    {% endfor %}
    <div>
    <p>Order Date : {{order.updated_at}}</p>
    <hr>
    </div>
{% endfor %}
{% else %}
<p>No orders yet!!</p>
{% endif %}
</center>
<script>
    $(document).ready(function(){
        var value = 0
        var csrf_token = '{{ csrf_token }}';
        $(".star").click(function(){
            value = $(this).val()
            
        })
        $(".post").click(function(){
            var current = $(this)
            var parent = current.parent().parent()
            var order_id = parent.find('.order_id').val()
            var restaurant_id = parent.find('.restaurant_id').val()
            var comment = parent.find('.comment').val()
            console.log(comment)
            if (value == 0){
                Swal.fire("atleast give 1 Star")
            }
            else(
            Swal.fire({
                        title: 'Thanks For reviewing !!!',
                        confirmButtonText: 'Ok',
            }).then((result) =>{
                if (result.isConfirmed){
                    $.ajax({
                            url : `feedback/${restaurant_id}/${order_id}`,
                            type : 'post',
                            data : {'rating':value,'comment':comment},
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                },
                            dataType : 'json',
                            success : function(result){
                                window.location.reload()
                            }
                        })
                }
            })
            )
        })
    })
</script>
<script>
    $(document).ready(function(){
        $(".feedback").click(function(){
            var current = $(this)
            var parent = current.parent()
            var restaurant_id = parent.find('.restaurant_id').val()
            var order_id = parent.find('.order_id').val()
            window.location.href = "/feedback/"+restaurant_id+"/"+order_id;
        })
    })
</script>
{% endblock content %}