{% extends 'user/base.html' %}
{% block item %}
<a href="/additem/{{restaurant.id}}">Add Items</a>
{% endblock %}
{% block content %}
    {% if cart_item %}
        {% for item in cart_item %}
        <input type="hidden" name="cart_id" id="cart_id" value="{{item.cart.id}}">
        <input type="hidden" value="{{item.cart_item.restaurant.id}}" id="restaurant_id">
        <div class="item_div">
            <input type="hidden" class="item_quantity" value="{{item.quantity}}"> 
        {{item.cart_item.item.name}} <br>
        {{item.cart_item.item.food_type}} <br>
        <img src="{{item.cart_item.image.url}}" alt="noimage" width="100px" height="100px"> <br>
        Quantity :<div class="row">
            <div class="col-md-4" id="product-1">
                <input type="hidden" name="item_id" value="{{item.cart_item.id}}" class="itemid">
                <input type="number" class="input"  value="{{item.quantity}}" min="1" />
            <button class="button">+</button>
            <button class="button">-</button>
            <button type="button" class="btn btn-red btn-sm remove-button" >
                Remove<i class="fa fa-close"  style="font-size: 1.73em;" aria-hidden="true"></i>
              </button>
                </div>
                
        </div>
        <input type="hidden" class="item_price" value="{{item.cart_item.price}}">  
        <p style="float: left;"> Price : </p><h5 class="quantity_price" > {% widthratio item.quantity 1 item.cart_item.price %}</h5>
        <hr>
        </div>
        {% endfor %}  
        <div>
            <button class="btn btn-black more-items">Add More Items <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
        </div>
        <hr>
        <div>
            <center>
            <h1>Bill Summary</h1>
            <span class="a">Sub Total : Rs</span>
            <span id="total_price" class="b"></span><br>
            <span class="a">Gst : Rs</span>
            <span id="gst_price"></span><br>
            <span class="a">Grand Total : Rs</span>
            <span id="grand_total"></span>
            </center>
        </div> 
        <div>
            <center>
                <button class="btn btn-success ml-auto" id="checkout-button">Order Now</button>
            </center>
        </div>
    {% else %}
    Empty cart
    {% endif %}
    <style>
        span.a {
            font-weight: bold;
        }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        
    </script>
    <script>
        let item_price = document.getElementsByClassName("quantity_price")
        let total = 0
        for(let i=0; i < item_price.length ; i++){
            total = total + parseInt(item_price[i].innerText)
        }
        document.getElementById("total_price").innerHTML=total;
        let gst_price = total * 18/100;
        document.getElementById("gst_price").innerHTML=gst_price;
        let grand_total = total + gst_price
        document.getElementById("grand_total").innerHTML=grand_total;
                    
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var checkoutButton = document.getElementById('checkout-button');
        var cart_id = document.getElementById('cart_id').value
        checkoutButton.addEventListener('click', function () {
    
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch("api/checkout-session/"+cart_id+"/", {
                method: 'POST',
                body: JSON.stringify(
                    { grand_total: grand_total }
                )
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.sessionId });
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });

            $(document).ready(function(){
                var newVal = 1
                    $(".button").on("click", function() {
                    var $button = $(this);
                    var $parent = $button.parent(); 
                    var oldValue = $parent.find('.input').val();
                    var item_id = $parent.find('.itemid').val();
                    console.log(item_id)
                    if ($button.text() == "+") {
                        newVal = parseFloat(oldValue) + 1;
                        } else {
                        // Don't allow decrementing below zero
                        if (oldValue > 1) {
                            newVal = parseFloat(oldValue) - 1;
                            } else {
                            newVal = 1;
                        }
                        }
                        $parent.find('.input').val(newVal);
                        var csrf_token = '{{ csrf_token }}';
                        $.ajax({
                            url : '/addcart' , 
                            type : 'post' ,
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                },
                            data : {'item_id': item_id ,'quantity':newVal},
                            dataType : 'json' , 
                            success: function(result){
                               window.location.reload()
                         }
                        })
                    });
                    $(".more-items").click(function(){
                        let id = $("#restaurant_id").val()
                        window.location.href="/"+id
                    })
                    $(".remove-button").click(function(){
                        var remove_button = $(this);
                        var remove_parent = remove_button.parent();
                        var remove_item_id = remove_parent.find('.itemid').val();
                        var csrf_token = '{{ csrf_token }}';
                        $.ajax({
                            url : '/addcart',
                            type : 'DELETE',
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                            },
                            data : {'remove_item_id':remove_item_id},
                            dataType : 'json',
                            success : function(){
                                window.location.reload()
                            }
                        })
                    })
                   
            })
                   
        
    </script>
{% endblock %}