{% extends 'user/base.html' %}
{% load item_quantity %}
{% block item %}
<a href="/additem/{{restaurant.id}}">Add Items</a>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        $(".deleteitem").click(function(){
            var button = $(this)
            var parent = button.parent()
            var item_id = parent.find(".itemid").val()
            var csrf_token = '{{ csrf_token }}';
            $.ajax({
                url : `/edit-item/${item_id}`,
                type : "DELETE",
                 beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token); 
                        },
                        success : function(result){
                            window.location.reload()
                        },
            })
        })
    })
</script>
<div class="container">
    <div style="margin-left: 700px;">
        <form action="" >
        <input type="text" name="search" placeholder="Search in Menu" class="fas fa-search">
        <input type="submit" value="search" class="fas fa-search">
        <!-- <a href="#" class="search-btn" >
               <i class="fas fa-search"></i>
        </a> -->
        </form>
    </div>
    <h2>{{menu_category.name}}</h2>
    <hr>
    {% for item in items %}
    {% if item.item.food_type == 'veg' %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Veg_symbol.svg/1024px-Veg_symbol.svg.png" height="15px" width="15px" alt="">
    {% else %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Non_veg_symbol.svg/2048px-Non_veg_symbol.svg.png" height="15px" width="15px" alt="">
    {% endif %}
    {{item.item.name}}
    <input type="hidden" name="item_id" value="{{item.id}}" class="itemid">
     Rs {{item.price}}
    <img src="{{item.image.url}}" alt="noimage" height="100px" width="100px" style="border-radius: 25px;">
    {% if request.user.is_authenticated %}
             <!-- <a href="/addcart/{{restaurant.id}}/{{price.id}}"><i class="fa fa-cart-plus" style="font-size: 1.73em;" aria-hidden="true"></i></a>
             <a href="/cart/{{price.id}}"><i class="fa fa-minus" style="font-size: 1.73em;" aria-hidden="true"></i></a> -->
                <div class="row">
                    {% item_quantity item.id request.user.id as quantity %}
                    <div class="col-md-4" id="product-1">
                    <button class="button">+</button>
                    <button class="button">-</button>
                    <input type="hidden" name="item_id" value="{{item.id}}" class="itemid">
                        <input type="number" class="input"  value="{% item_quantity item.id request.user.id %}" min="1" />
                        {% if quantity == 0 %}
                        <button type="button" class="btn btn-primary btn-sm cartbutton" >
                            Add to Cart<i class="fa fa-cart-plus" style="font-size: 1.73em;" aria-hidden="true"></i>
                          </button>
                        {% else %}
                          <button type="button" class="btn btn-green btn-sm update-button" >
                            Update Cart<i class="fa fa-cart-arrow-down" style="font-size: 1.73em;" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-red btn-sm remove-button" >
                            Remove<i class="fa fa-close"  style="font-size: 1.73em;" aria-hidden="true"></i>
                          </button>
                        {% endif %}
                        </div>
                </div>
         {% if not request.user.user_type == "Customer" %}
         <div>
            <input type="hidden" name="item_id" value="{{item.id}}" class="itemid">
                    <button><a href="/edit-item/{{item.id}}">Edit Item</a></button>
                    <button class="deleteitem">Delete Item</button>
        </div>
         {% endif %}
    {% endif %}
    <hr>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script>
            $(document).ready(function() {
                    // $(".update-button").hide()
                    // $(".remove-button").hide()
                    var newVal = 1
                    $(".button").on("click", function() {
                    var $button = $(this);
                    var $parent = $button.parent(); 
                    var oldValue = $parent.find('.input').val()
                    if ($button.text() == "+") {
                        newVal = parseFloat(oldValue) + 1;
                        } else {
                        // Don't allow decrementing below zero
                        if (oldValue > 1) {
                            newVal = parseFloat(oldValue) - 1;
                            } else {
                            newVal = 1;
                        }
                        }
                        $parent.find('.input').val(newVal);
                        
                    });
                    $(".cartbutton , .update-button").click(function(){
                        var button = $(this)
                        var parent = button.parent()
                        var item_id = parent.find('.itemid').val();
                        var value = parent.find('.input').val()
                        if (value == 0){
                            alert("atleast select one item")
                        }
                        else{
                        // console.log(value.val())
                        var csrf_token = '{{ csrf_token }}';
                        $.ajax({
                            url : '/addcart' , 
                            type : 'post' ,
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                },
                            data : {'item_id':parseInt(item_id) ,'quantity':newVal},
                            dataType : 'json' , 
                            success: function(result){
                                // parent.find(".cartbutton").hide()
                                // parent.find(".update-button").show()
                                // parent.find(".remove-button").show()
                                // value=result['item_quantity']
                                // $(this).val=value;
                                window.location.reload()
                         }
                        })
                    }
                    })
                    $(".remove-button").click(function(){
                        var remove_button = $(this);
                        var remove_parent = remove_button.parent();
                        var remove_item_id = remove_parent.find('.itemid').val();
                        var csrf_token = '{{ csrf_token }}';
                        $.ajax({
                            url : '/addcart',
                            type : 'DELETE',
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                            },
                            data : {'remove_item_id':remove_item_id},
                            dataType : 'json',
                            success : function(){
                                window.location.reload()
                            }
                        })
                    })
                    });
         </script>
         </div>
 {% endblock %}
