<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .categoryBox
        {
             cursor: pointer;
        }
        .categoryBox:hover
        {
            opacity: 0.5;
        }
        .categoryName
        {
            color: black;
        }
    </style>
</head>
<body>
    <h1> {{restaurant.name}}</h1>
     <hr>
    {% for category in menu_category %}
    <div class="categoryBox">
        <a href="/{{restaurant.id}}/items/{{category.id}}" class="categoryName">   
            {{category.name}}
        </a>
    </div>
    <hr>
    {% endfor %}

</body>
</html>