{% extends 'user/base.html' %}

{% block restaurantprofile %}
<a href="/editrestaurant/{{restaurant.id}}">Edit your Restaurant</a>
{% endblock %}
{% block content %}

<style>
    .hide{
        display: none;
    }
    .button-overlay {
  position: relative;
  display: inline-block;
}

.button-overlay button {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background-color: #0c1414f7;
  color: #fff;
  border-radius: 5px;
}
.button-overlay button:hover {
  background-color: #308c94f7;
}

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{location.media}}
    <!-- google map imp -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "AIzaSyAMQoXqn_SyndB6I-cVpwxmUxzW6QAId9Q", v: "weekly"});</script>
  <!-- ----------- -->
<script>
       $(document).ready(function(){
        var csrf_token = '{{ csrf_token }}';
        $("#remove_restaurant").click(function(){
            var restaurant_id = $("#restaurant_id").val()
            console.log(restaurant_id)
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.isConfirmed) {
                            $.ajax({url : `/editrestaurant/${restaurant_id}`,
                            type : "DELETE",
                            beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                },
                                success : function(result){
                                    window.location.href = "/user/owner";
                                },
            })
                }
                })
        })  
    })
</script>
<div class="container">
<div id="carouselExample" class="carousel slide" >
    <div class="carousel-inner">
        {% for img in restaurant.restaurantimage_set.all %}
        {% if forloop.first %} 
      <div class="carousel-item active" >
        <img src="{{img.image.url}}" class="d-block w-100" alt="noimage" >
      </div>
      {% else %}
      <div class="carousel-item" >
            <img src="{{img.image.url}}" class="d-block w-100" alt="noimage">
      </div>
      {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr> 
    {% if not request.user.user_type == 'Customer' %}   
    {% if request.user.is_authenticated %}
    <button style="margin-left: 1000px;" class="btn btn-outline-dark"><a href="/image-gallery/{{restaurant.id}}">Image Gallery</a></button>
    <hr>
    <button style="margin-left: 1000px;" id="order" class="btn btn-outline-success">Orders</button>
    <hr>
    <div style="margin-left: 1000px;">
        <button id="remove_restaurant" class=" btn btn-outline-danger">Remove Restaurant</button>
    </div>
    {% endif %}
    {% endif %}
    <input type="hidden" value="{{restaurant.id}}" id="restaurant_id">
    <h1>{{restaurant.name}}</h1>
     <h2>Menu</h2>
     <hr>
    {% for category in menu_category %}
    <div class="categoryBox">
        <a href="/items/{{restaurant.id}}/{{category.id}}">
        {{category.name}}
        </a>
        <hr>
    </div>
    {% endfor %}
    <!--The div element for the map -->
    <div id="map"></div>
</div>

    <script>
      $("#order").click(function(){
        window.location.href="/restaurant-order/"+"{{restaurant.id}}"
      })
    </script>
  <style>
    /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 500px;
  width: 500px;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  </style>
<script>
  // Initialize and add the map
let map;

async function initMap() {
  // The location of Uluru
  var cord = "{{restaurant.location}}"
  var cordArray = cord.split(",")
  var lt = parseFloat(cordArray[0])
  var lg = parseFloat(cordArray[1])
  
  const position = { lat: lt, lng: lg };
  // Request needed libraries.
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps");
  const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

  // The map, centered at Uluru
  map = new Map(document.getElementById("map"), {
    zoom: 12,
    center: position,
    mapId: "DEMO_MAP_ID",
  });

  // The marker, positioned at Uluru
  const marker = new AdvancedMarkerElement({
    map: map,
    position: position,
    title: "Uluru",
  });
}

initMap();
</script>
{% endblock %}

