
{% extends 'user/base.html' %}
{% block item %}
<a href="/additem/{{restaurant.id}}">Add Items</a>
{% endblock %}
{% block content %}


    {% for item in items %}
    {{item.name}}
    {{item.food_type}}
    {% for price in item.menu_set.all %}
     {{price.price}}
    <img src="{{price.image.url}}" alt="noimage" height="100px" width="100px">
    {% endfor %}
    <input type="submit" value="buy">
    <!-- <button><a href="{% url 'update-item' pk=item.id %}">Update Item</a></button> -->
    <hr>
    {% endfor %}

 {% endblock %}
