{% extends 'user/base.html' %}

{% block restaurantprofile %}
<a href="/editrestaurant/{{restaurant.id}}">Edit your Restaurant</a>
{% endblock %}
{% block content %}
<script>
$(document).ready(function(){
        var csrf_token = '{{ csrf_token }}';
        $(".deletebutton").click(function(){
                    var button = $(this)
                    var parent = button.parent()
                    var image_id = parent.find('.image_id').val();
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "DELETE",
                                url: `/image-gallery/${image_id}`,
                                data : {'image_id':image_id},
                                beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                },
                                success : function(result){
                                    window.location.reload()  
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                    
                                }
                            });
                        }
                        })
                })
            })     
</script>
<div class="container">
    <div style="margin-left: 500px; " >
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>uplode more image {{image_form.image}}</p>
            <input type="submit" value="upload">
        </form>
    </div>
    <hr>
    {% for image in images %}
    <div class="card">
    <img class="card-img-top" src="{{image.image.url}}" alt="noimage" height="150px" width="300px">
    <div class="card-body">
        <input type="hidden"  value="{{image.id}}" class="image_id">
    <button class="deletebutton btn btn-primary">Delete</button>
    
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}