{% extends 'user/base.html' %}
{% block content %}
        <!-- Iterate over object_list -->
        {% for restaurant in restaurant_list %} 
        <!-- Display Objects -->
        <a href="/{{restaurant.id}}">
            <div class="box">
                <li>{{ restaurant.name }}</li> 
                <li>{{ restaurant.address }}</li> 
                <li>{{ restaurant.opening_time }}</li> 
                <li>{{ restaurant.closing_time }}</li> 
                {% for img  in restaurant.restaurantimage_set.all%}
                 <img src="{{img.image.url}}" alt="noimage" width="300px" height="200px">
                {% endfor %}
             </div>
        </a>
      
        <!-- If object_list is empty  -->
        {% empty %} 
        <li>No objects yet.</li> 
        {% endfor %} 
    </ul>
    {% endblock %}
