{% extends 'user/base.html' %}
{% block content %}
<div>
  <form action="{% url 'home' %}" method="get" style="display: inline-block;">
  <h5 style="display: inline-block;">Rating</h5>
          <select name="rating" >
            <option value="1">1.0+</option>
            <option value="2">2.0+</option>
            <option value="3">3.0+</option>
            <option value="4">4.0+</option>
            <option value="5">5.0+</option>
          </select>
          <input type="submit" value="Apply" class="btn btn-outline-success">
  </form>
  <a href="{% url 'home' %}"><i class="fa fa-close" style="font-size:28px;color:red"></i></a>
</div>
        <div class="main-content responsive-wrapper container">
          <!-- Iterate over object_list -->
          {% for restaurant in page_obj.object_list %} 

          <!-- Display Objects -->
          <a href="/{{restaurant.id}}" class="card">
            <img src="{{restaurant.restaurantimage_set.first.image.url}}" alt="balloon with an emoji face" class="card__img">
              <span class="card__footer">
                <span >{{ restaurant.name }}</span>
                <span>{{restaurant.average_rating|floatformat:1}} <i class="fa fa-star" aria-hidden="true"></i></span>
              </span>
              <!-- <span class="card__action">
                <svg viewBox="0 0 448 512" title="play">
                  <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                </svg>
              </span> -->
            </a>
          <!-- If object_list is empty  -->
          {% empty %} 
          <li>No objects yet.</li> 
          {% endfor %} 
        </div>
        <center>
          <div style="margin-top: 100%;" >
            {% if page_obj.has_previous %} 
                <a href="?page={{page_obj.previous_page_number}}">prev</a> 
            {% endif %}
            <span>{{page_obj.number}}</span> 
           
            {% if page_obj.has_next %} 
                <a href="?page={{page_obj.next_page_number}}">next</a> 
            {% endif %}
          </div>
        </center>
    {% endblock %}
